<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Password Reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
  	<header class="header-container">
  		  <h3 th:text="${'Greetings, ' + name}">
      Hello
    </h3>
  		<img th:src="|cid:${imageResourceName}|" />
  	</header>
    
    <div class="website-description">
    	<p>Click on the link to go to the site  </p>
    	<p th:text="${url}"> </p>
    </div>
  </body>
</html>